@font-face {
    font-family: "Alumni Sans Pinstripe";
    src: url('Fonts2/AlumniSansPinstripe-Regular.ttf') format('truetype');
}
.container{
    background-color: rgb(225, 213, 213);
    position: relative;
    font-family: "Alumni Sans Pinstripe";
    font-weight: 100;
    font-style: normal;
}
#home {
    margin-bottom: 0;
    padding-bottom: 0;
}
.container1{
    width: 700px;
    height: max-content;
    display: box;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 32%;
    opacity: 0.5;
    padding: 20px 0;
    background-color: rgb(134, 105, 105);
}
.container1 h3{
    font-weight: 800;
}
.h3link {
    color: inherit;
    text-decoration: none;
}
img{
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main1 {
    position: static;
    min-height: 300px; 
}
.boxes-wrapper {
    position: absolute;
    top: 50%;      
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: center;    
    align-items: stretch;    
    gap: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid #b3622c;
}

.box1{
    width: 500px;
    height: auto;
    margin: 0;
    text-align: center;
    padding: 50px 0;
    min-width: 300px;
}
.box1 img {
    width: 350px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: auto;
}
.box2{
    width: 600px;
    height: auto;
    margin: 0 ;
    text-align: center;
    padding: 50px 0;
    background-color: #f9f7f5;
    border-radius: 10px;
}
.container1,
.main1,
.box1,
.boxes-wrapper {
    background-color: rgb(225, 213, 213);
}

.main2{
    background-color: #f9f7f5;
    width: 100%;        
    position: relative;
    padding: 5px;
}
.main2 > div:first-of-type {
    width: 80%;
    margin: 0 auto;
    position: static;
    border-radius: 2px;
}
.boxes-wrapper2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Space between boxes */
}

.box7 img,
.box4 img,
.box5 img,
.box6 img {
    width: 300px;   
    height: auto;
    display: block;
    border-radius: 8px; 
}

.fouter {
    margin-top: 600px; 
    background: #181818;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

.box-style{
    display: flex;
    align-items: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

.box2 h3, .container1 h3{
    color: #b3622c;
}

address a,
p a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

